[user]
	email = jaredfern@cmu.edu
	name = Jared Fernandez
[credentia]
	helper = store
[credential]
	helper = store
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
