[user]
	email = jaredfern@cmu.edu
	name = Jared Fernandez
[credentia]
	helper = store
[credential]
	helper = store
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
